body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
}

header,
main,
footer {
  display: inline-block;
  width: 800px;
  margin-left: calc(50% - 400px);
  margin-bottom: 30px;
  
}

header {
  margin-top: 40px;
}

header > img {
  width: 100px;
  height: 40px;
  float: left;
  object-fit: contain;
  object-position: left;
}

nav > a {
  float: right;
  margin-top: 10px;
}

a {
  display: inline-block;
  margin-left: 2em;
  color: #000;
  font-size: 20px;
  line-height: 1em;
  text-decoration: none;
}

nav > a:first-child {
  margin-left: 0;
}

nav > a:hover {
  text-decoration: underline;
}
main{

}
div{
  width: 40%;
  float: left;

}

h1{
  font-size: 50px;
  font-weight: normal;


}
h1 > span {
  font font-weight: bold;
}
p{

}
div > a{
float: left;
text-transform: uppercase;
background-color: #662C8C;
padding: 0.9em;
text-decoration: none;
color: #fff;
font-size: 14px;
line-height: 1.3em;
padding-right: 2em;
padding-left: 2em;
border-radius: 1.55em;
}
div > a:nth-child(4){
  background-color: #fff;
  color: #662C8C;
  border: 0.15em solid #662C8C;

}

main > img{
  width: 55%;

}