body {
margin: 0;
}
header,
main,
footer { 

  background-color: pink;
   width: 800px;
   margin-left:calc(50%-400px) ;
   margin-bottom:30 px;

}

header {

  margin-top: 100px;
}

main{

  background-color: green;
}
footer{

  background-color: red;
}

img {
width: 100px;
height: 40px;
object-fit: fill;
background-color: red;
object-position: right;

}
nav{


}

a{



}
